body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: black;
  font-family: "Bebas Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url("../Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  inset: 0;
}

h1 {
  transform: translateY(-80%);
  margin-top: 20%;
  margin-bottom: 12%;
  position: relative;
  color: white;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3px;
  z-index: 2;
}

.search-form {
  display: flex;
  z-index: 2;
  gap: 10px;
  transform: translateY(-150%);
}

.bar {
  min-height: 4rem;
  width: 12rem;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid;
  background-color: transparent;
  color: white;
}

.bar::placeholder {
  color: white;
}

button {
  min-width: 5rem;
  border-radius: 10px 10px 10px 10px;
  border: none;
  background-color: #dd0303;
  color: white;
  transition: all 0.1s ease-in-out;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}

button:active {
  transform: scale(0.95);
  background-color: white;
}

.movie-info {
  background-color: aliceblue;
  height: auto;
  width: auto;
  z-index: 2;
  margin-bottom: 0%;
}

p {
  padding: 8px;
  font-size: 0.5rem;
}

footer {
  margin-top: 5%;
  color: white;
  z-index: 2;
}

@media (min-width: 1024px) {
  h1 {
    transform: translateY(-100%);
    font-size: 8rem;
    margin-bottom: 8%;
  }

  .search-form {
    transform: translateY(-450%);
  }

  .bar {
    width: 15rem;
  }

  .movie-info {
    transform: translateY(-50%);
  }

  p {
    font-size: 2rem;
    padding: 2rem;
  }
}
